/* ตั้ง modal อยู่กลางหน้าจอ */
.custom-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 10px;
  width: auto;
  display: inline-block;
}
  
/* ปรับขนาดของ modal-content */
.modal-content-alert-input {
  width: auto; /* ตั้งค่าความกว้างเป็น auto */
  padding: 20px;
  text-align: center;
  border-radius: 10px; /* เพิ่มขอบโค้งให้กับ modal-content */
  color: #000;
  display: inline-block; /* ตั้งค่า display เป็น inline-block */
}

/* ตั้งสีตัวหนังสือเป็นสีดำ */
.modal-content h2,
.modal-content ul,
.modal-content li {
  color: black;
}
